@page "/counter"

<PageTitle>计数器</PageTitle>

<h1>计数器</h1>

<p role="status">当前计数：@currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">点击</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
